footer{
    background-color: $color-fourthary;
    color: $color-white;
    padding: 25px 20px 30px 20px;
    
    
    & h4{
        color: $color-white;
        font-family:Shrikhand;
        margin-bottom: 10px;
        font-weight: 100;
    }
    & ul{
        list-style-type: none;
        @include largeScreen{
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
        }
        @include mediumScreen{
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
        }
        & li{
            font-size: 1rem;
            padding-top:8px;
            font-family: roboto;
            font-weight: 200;
            color: white;
            cursor: pointer;
            @include largeScreen{
                margin-right: 20px;
                border-right:1px solid $color-bck-grd-light;
                padding-right:20px;
                padding-top: 0;
            }
            @include mediumScreen{
                margin-right: 20px;
                border-right:1px solid $color-bck-grd-light;
                padding-right:20px;
                padding-top: 0;
            }
           &:last-child{
               border-right: none;
           } 
        }
    & li:first-child, li:nth-child(2) {
        font-weight: 400;


    }
    & i{
        padding-right: 5px;
       
    &::before{
        font-size: 0.85rem;
    }
   
    }
    & li:first-child i{
        margin-right:8px;
    }
}
    & a{
        text-decoration: none;
        color: $color-white;
    }
}