html{
    scroll-behavior: smooth;
}
.large-screen-main{
    @include largeScreen{
        display: flex;
        flex-flow: row;
        min-height: 80vh;

    }
}
.largescreen-presentation{
    @include largeScreen{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        width: 50%;
        position: relative;
        
    }
}
.presentation{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $color-bck-grd-light;
    padding: 0 20px 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    @include largeScreen{
        
        max-width: 500px;
        background-color: transparent;
        margin-bottom: 0;
        margin: 20px;
        max-width: 405px;
    }

    & h2{
        @include HP-h2-presentation;
        
    }
    & h1{
        @include HP-h1-style;
        order:1;
    }
       
}
.operation{
    margin-bottom: 50px;
    @include largeScreen{
        margin-left: 70px;
        order: 3;
    }
    & h2{
        @include HP-h2-operate;

    }
    & ul{
        margin-top: 15px;
    }
    & i{
        color:$color-i-operate;
        padding:0 20px 0 10px;
        @include mediumScreen{
        padding: 0 0 10px 0;
        display: block;
        font-size: 1.8rem!important;

        }
    &.fa-mobile-alt{
        font-size: 1.2rem;
    }
    &.fa-list{
        font-size: 1.1rem;
        vertical-align: -0.1rem;
    }
    }
    & ul{
        @include operate-ul;
    }
    & li{
        @include operate-li;
        & h3{
            font-size: 1rem;
        }
    &::before {
        @include counter-li-HP;
      }
    &:hover{
        @include operate-hover;
    & i{
        color:$color-primary;
        
    }
    }
    }
    
}

.restaurants{
    @include restaurant-main-container-style;
   }

   .restaurant-grid::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .restaurant-grid {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.restaurant-grid{    
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
@include largeScreen{
    overflow-y:scroll; 
    max-height: 560px;
    padding-bottom: 35px;
 }

    
    & article{
        @include restaurant-article;
        & a{
            text-decoration: none;
            display: block;
        }  
        & .heart{
            position: absolute;
            bottom: 30px;
            right: 30px;
        } 
    }
    
    
    &__image{
        height: 170px;
    & img{
        width: 100%;
        transform: translateY(-30px);
    }
    }
    
    
    &__infos{
        
        background-color: $color-white;
        width: calc(100% - 30px);
        position: relative;
        padding: 15px 20px 15px 10px;
        & p{
            padding-top: 2px;
        }
    
       
        }}
    

.new::after{
    @include new-style;
}