.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  -webkit-animation: loader 3s forwards;
  animation: loader 3s forwards;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & span {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    top: 0;
    -webkit-animation: bounce 0.3s alternate;
    animation: bounce 0.3s alternate;
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
    font-family: "Shrikhand";
    background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 2px;
    padding-right: 5px;
    text-align: center;
    margin-right: -11px;
  }
}
@for $i from 1 through 8 {
  span:nth-child(#{$i}n) {
    -webkit-animation-delay: #{$i * 0.1}s;
    animation-delay: #{$i * 0.1}s;
  }
}

@-webkit-keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -22px;
  }
}

@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -22px;
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loader {
  from {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


